@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100vh;
  width: 100%; }

.colorDeTitulos {
  font-size: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Press Start 2P", cursive;
  background-color: yellow; }

.header .colorHeader {
  background-image: linear-gradient(to bottom, #afa50f, #d7d714, rgba(37, 35, 35, 0.852)); }

.header img {
  border-radius: 500px;
  padding: 10px;
  margin-left: 30px; }

.header .nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  /* margin-left: 20px; */ }

.header .navbar-toggler img {
  border-radius: 0;
  height: 80px;
  width: 60px;
  display: flex;
  border: none; }

.dropdown-menu {
  background-color: black; }
  .dropdown-menu a {
    color: white; }

.colorBoton {
  color: white;
  font-weight: bold;
  background-color: black; }

/* main de index */
.main {
  background-image: linear-gradient(to right, #7e8476, #605353, #292323); }

.alturaCarousel img {
  height: 400px; }

.breadcrumb {
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Permanent Marker", cursive;
  color: white;
  list-style: none; }
  .breadcrumb .breadcrumb-item a {
    color: white;
    text-decoration: none; }

.tituloPrincipal {
  font-size: 30px;
  font-family: "Press Start 2P", cursive;
  color: black;
  text-align: center;
  padding-top: 30px; }

.contenedorDeTexto {
  padding: 30px; }
  .contenedorDeTexto p {
    padding-top: 5px;
    color: white;
    font-weight: bold;
    text-align: center; }
  .contenedorDeTexto .tituloTexto {
    font-size: 20px; }

/* extend */
/* mixin */
.leyendaPerifericos {
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Permanent Marker", cursive;
  background-color: yellow;
  text-align: center; }

.titulosCategorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding-top: 55px; }
  .titulosCategorias p {
    background-image: linear-gradient(to bottom, #afa50f, #d7d714, rgba(37, 35, 35, 0.852));
    text-align: center;
    font-size: 30px;
    border-radius: 10px; }

.contenedorDeCategorias {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; }
  .contenedorDeCategorias img {
    width: 280px;
    height: 400px;
    border-radius: 20px; }
    .contenedorDeCategorias img:hover {
      transform: scale(1.1, 1.1);
      transition: .5s; }

.contenedorDeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 60px; }
  .contenedorDeCards .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
  .contenedorDeCards .btn-primary {
    background-color: #050505;
    font-weight: bold; }

.card {
  height: 500px;
  border-radius: 20px;
  background: linear-gradient(to top, rgba(247, 235, 6, 0.87), #ad9553, black); }
  .card a:hover {
    transform: scale(1.4, 1.4);
    transition: .5s; }

@media (max-width: 991px) {
  .contenedorDeCategorias {
    padding: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; }
  img:hover {
    transform: none; }
  .carousel {
    display: none; }
  .nav-link {
    display: flex;
    justify-content: center; }
  .card a:hover {
    font-weight: bold;
    transform: none;
    text-decoration: none; } }

.dropdown-item a:hover {
  transform: none; }

.dropdown-menu {
  background-color: black;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  width: 150px; }
  .dropdown-menu a {
    color: white; }

.todoElFooter {
  background-image: linear-gradient(to bottom, #afa50f, #d7d714, rgba(37, 35, 35, 0.852)); }

.redesSociales {
  display: flex;
  justify-content: center;
  padding: 25px;
  gap: 20px; }
  .redesSociales a:hover {
    transform: rotate(25deg);
    transition: .5s; }
  .redesSociales .logoFace {
    border-radius: 15px; }

.parrafoDeCopy {
  text-align: center;
  padding-bottom: 5px;
  color: black;
  font-weight: bolder; }

.fontColor {
  color: white; }

.mapaUbicacion {
  display: flex;
  justify-content: center; }

iframe {
  width: 70%;
  padding: 20px; }

.contenedorDireccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; }

.contenedorContactanos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenedorContactanos textarea {
    width: 280px;
    padding-bottom: 20px; }
  .contenedorContactanos .datosPersonales {
    padding-top: 50px;
    padding-bottom: 50px; }
    .contenedorContactanos .datosPersonales input {
      width: 300px; }
      .contenedorContactanos .datosPersonales input:focus {
        background-color: yellow; }
    .contenedorContactanos .datosPersonales textarea {
      width: 300px; }
      .contenedorContactanos .datosPersonales textarea:focus {
        background-color: yellow; }

.selectores {
  color: white;
  font-weight: bold;
  padding-bottom: 30px; }

.selectoresTexto span {
  color: white; }

.pago {
  padding-bottom: 30px; }

.enviarYReset {
  display: flex;
  gap: 30px;
  padding-bottom: 50px; }
  .enviarYReset .send {
    border-radius: 10px;
    height: 40px;
    width: 80px;
    font-weight: bolder;
    background-color: black;
    color: white; }
  .enviarYReset .reset {
    border-radius: 10px;
    height: 40px;
    width: 120px;
    font-weight: bolder;
    background-color: black;
    color: white; }
