@mixin estiloTexto ($tamanio, $textoPerifericos, $ubicacionTexto) {
    font-size: $tamanio;
    justify-content: center;
    color: black;
    font-family: $textoPerifericos;
    background-color: yellow;
    text-align: $ubicacionTexto;
    padding: 10px;
}
