/* main de index */
.main {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.alturaCarousel{
    img{
        height: 400px;
    }
}
.contenedorDeTexto{
    padding: 30px;
    p{
        padding-top: 5px;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .tituloTexto{
        font-size: 20px;
    }

}
.colorDeTitulos{
    font-size: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Rubik Iso', cursive;
    background-color: yellow;
}

.titulosCategorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: bold;
    padding-top: 55px;
    p{
        text-align: center;
        font-size: 30px;
        border-radius: 10px;
        background-image: linear-gradient(to bottom, rgb(175, 165, 15), rgb(215, 215, 20), rgba(37, 35, 35, 0.852));
    }
}

.contenedorDeCategorias{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    img{
        width: 280px;
        height: 400px;
        border-radius: 20px;
        &:hover {
                transform: scale(1.1, 1.1);
                transition: .5s;
            }
    }
}
.contenedorDeCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 60px;
    .card-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }
        .btn-primary {
            background-color: rgb(5, 5, 5);
            font-weight: bold;
        }
}
.card{
    height: 500px;
    border-radius: 20px;
    background: linear-gradient(to top, rgba(219, 180, 7, 0.87), #FEBE10, black);
    a{
        &:hover {
                transform: scale(1.4, 1.4);
                transition: .5s;
    }
    }
}

@media (max-width: 991px) {

    .contenedorDeCategorias{
            padding: 50px;
            padding-bottom: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
    }
        img{
            &:hover{
                transform: none;
            }
        }


    .carousel {
        display: none;
    }
        .nav-link {
            display: flex;
            justify-content: center;
        }
    
        .card a:hover {
            font-weight: bold;
            transform: none;
            text-decoration: none;
        }

}

.dropdown-item{
    a{
        &:hover{
            transform: none;
        }
    }
}
.dropdown-menu {
    background-color: black;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    a {
            color: white;
    }

        
}
